## 1. Create a variable `city` and assign the name of your favorite city to it. Print the variable.

In [1]:
city = "Mumbai"
city

'Mumbai'

## 2. Print the data type of the variable `city`.

In [2]:
type(city)

str

## 3. Convert the integer `42` to a string and assign it to a new variable. Print the new variable.

In [5]:
a = 45
b = str(a)
print(b)
print(type(a))
print(type(b))

45
<class 'int'>
<class 'str'>

## 4. Use len() on your name variable and count lenght of your name

In [6]:
name = "kavya"
len(name)

5

## 5. use " if " statement to to check "code" word exist or not in " code square"

In [9]:
a = "code"
b = "code square"

if a in b:
    print("true")
else:
    print("false")

true

In [10]:
a = "code"
b = "square"

if a in b:
    print("true")
else:
    print("false")

false